

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}


nav {
  position: fixed;
  top: 10px;
  
  left: 10px;
  width: 99%;
  background-color: #23c8e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav h1 {
  font-size: 24px;
  font-weight: bold;
  color: rgb(250, 248, 246);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  font-weight: 500;
}

nav ul li a {
  text-decoration: none;
  color: rgb(253, 253, 253);
  font-size: 18px;
}



footer {
  text-align: center;
  margin-top: 220px;
  width: 1490px;
  color: rgb(40, 41, 42);
  
  padding-top: 15px;
}
footer .copyright {
  margin-top: 85px;
  padding: 10px;
 justify-content: center;
  font-size: 13px;
  
  
}
#home {
  padding-left: 60px;
  color: rgb(67, 61, 61);
  line-height: 38px;
  padding-top: 80px;
  font-size: 26px;
}
#home-info {
  margin-top: 210px;
  
}

.bg-skew {
  position: absolute;
  top: 36%;
 right: 7%;
  width: 33%;
  height: 45%;
  background: #dbd9d9a4;
  transform: skewX(-15deg);
  z-index: -1;
}

.hero-right img {
  width: 350px;        
  height: 350px;       
  object-fit: cover; 
  margin-left: 69%; 
  margin-top: -32%; 
  background-color: #5a9ff3dc;
  border-radius: 50%;  
  border: 4px solid #fff; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}
.article {
  font-size:27px;
  line-height: 38px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(38, 37, 37);
}

.cv {
  color: white;
  background-color: rgb(3, 178, 3);
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
  width: 120px;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 25px;
  display: flex;
  border: 2px solid rgb(1, 151, 38);
}
.cv:hover {
  filter: brightness(1.2);
  transform: translateY(-1px);
}
.social-link-1{
  margin-left: 230px;
  margin-top:-85px;
  display:flex;
  padding: 10px;
}
.social-link-1 a img {
  width: 35px;
}
.social-link-1:hover {
  transition: 0.2s ease;
  transform: translateY(-3px);
  filter: brightness(1.2);
}
.social-link-2{
  margin-left: 280px;
  margin-top: -59px;
  display:flex;
  padding: 10px;
}
.social-link-2 a img {
  width: 35px;
}
.social-link-2:hover {
  transition: 0.2s ease;
  transform: translateY(-3px);
  filter: brightness(1.2);
}
blockquote {
  color: rgb(11, 11, 11);
  margin-left: 900px;
  font-size: large;
  text-align: center;
  display: flex;
  margin-top: -10px;
}
.me {
  color: rgb(9, 9, 9);
  font-size: x-large;
  text-align: center;
  margin-left: 520px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -460px;
  background-color: rgba(59, 57, 57, 0.167);
  width: 1100px;
  height: 350px;
  padding: 70px;
  border-radius: 50px;
  line-height: 30px;
}

.edu {
  font-weight: bold;
  font-size: 16px;
  color: black;
}


#about h1 {
  color: rgb(7, 0, 0);
  text-align: end;
  font-size: 30px;
  padding: 80px;
  margin-top: 150px;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}






.skills-section {
  padding: 180px 0;
  text-align: center;
  margin-top: 80px;
  overflow: hidden;
}

.skills-section h2 {
  font-size: clamp(2rem, 5vw, 2.5rem);
  margin-bottom: 40px;
  font-weight: 700;
}

.skills-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.skills-track {
  display: flex;
  gap: 20px; 
  width: max-content;
  animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.skill-card {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
  width: 160px;
  margin: 0; 
  flex: 0 0 auto;
}

.skill-card:hover {
  transform:translateY(-5px);
}

.skill-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}

.skill-card h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
  margin: 10px 0 4px;
}
.projects-section {
  padding:115px 20px;
  text-align: center;
}

.projects-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.project-card {
  position: relative;
  width: 280px;
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color:white;
  margin-top: 10px;

}



.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px; 
  transition: all 0.5s ease;
}



.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  transition: opacity 0.5s ease;
}

.project-card:hover img {
  transform: scale(1.3);
}

.project-card:hover .project-info {
  opacity: 1;
}

.project-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-info a {
  padding: 6px 14px;
  background: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  transition: 0.3s;
}

.project-info a:hover {
  background: #000;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

.contact-container {
  font-family: Arial, sans-serif;
  margin-top: -0px;
  text-align: center;
padding: 10px;
}

.contact-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.contact-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
  margin: auto;
}

.form-input,
.form-textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.form-textarea {
  resize: none;
  height: 120px;
}

.form-button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #46aa4b;
}
.social-link2 {
  padding: 15px;
  display: flex;
  gap: 15px;
  margin-left: 625px;
}
.social-link2 :hover {
  transition: 0.2s ease;
  transform: translateY(-3px);
}


body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
 
  background-image: url(./Assert/background.jpg);
}
/* ------------------------------------------------------------ */
@media (max-width: 768px) {
  body{
   overflow-x: hidden;  
  }


  nav {
    background-color: #3d91ffcc;
    position: fixed;
    top: 10px;
    left: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
  }
  nav h1 {
    font-size: 11px;
    font-weight: bold;
    color: rgb(250, 248, 246);
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 12px;
    font-weight: 500;
    flex-wrap: wrap;
  }
  nav ul li a {
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-size: 11px;
  }
  #home {
    padding-left: 18px;
    color: rgb(67, 61, 61);
    line-height: 15px;
    font-size: 6px;
  }
  #home-info {
    margin-top: 10px;
  }
  article {
    font-size: 8px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  #home-info .word {
    font-size: 12px;
  }
  .home-img {
  width: 500px;
  height: 500px;
  display: none;
}
  
  .cv {
    color: white;
    font-size: 6px;
    background-color: rgb(9, 186, 9);
    padding: 2.5px 3px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 1.5px;
    display: flex;
  }
  .social-link {
    margin-left: 80px;
    margin-top: 81px;
    display: flex;
    gap: 0px;
  }
  .social-link a img {
    width: 16px;
    border-radius: 5px;
    margin-top: -106px;
    margin-left: 10px;
    display: block;
  }
  .edu {
    font-weight: bold;
    font-size: 7.8px;
    margin-top: -2px;
    color: black;
  }
  #about h1 {
    color: rgb(7, 0, 0);
    margin-top: -250px;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .my-pic img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #8ac9d1;
    border-style:outset;
   
  }
  .my-pic {
    border: none;
    background-color: transparent;
    border-radius:none;
    border-style:none;
    margin-top: -90px;
    margin-left: -315px;

  }
  blockquote {
    color: rgb(5, 5, 5);
    margin-left: 180px;
    font-size: 8px;
    text-align: center;
    margin-top: 6%;
    display: inline-block;
    margin-top: 10px;
  }
  .me1 {
    color: rgb(100, 102, 102);
    font-size: 10px;
    text-align: center;
    margin-left: 120px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-top: 30px;
    line-height: 10px;
  }
  .me2 {
    color: rgb(100, 102, 102);
    font-size: 10px;
    text-align: center;
    margin-left: 120px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-top: 8px;
    line-height: 10px;
  }
  
#skills {
  color: rgb(0, 2, 2);
  padding: 30px;
}
.skills-grid {
  display:grid;
  gap: 15px;
  margin-top:20px;
  margin-left: 10px;
}
.skill-category h3 {
  color: #2c2828;
  border-bottom: 3px solid #32b5c7;
  padding-bottom: 4px;
  font-size: 12px;
}
.skill-category ul {
  list-style-type: square;
  padding-left: 30px;
  color: rgb(67, 68, 70);
  margin-top: 10px;
  font-size: 11px;
}
#skills h2 {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  padding-top: 50px;
}
#skills .skill-img {
  width: 150px;
  height: 150px;
  display: none;
}
#probar {
  width: 100px;
  height: 100px;
  background-color: white;
  margin-top: 15px;
  border:  solid rgb(251, 248, 248);
  

  border-radius: 15px;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(11, 11, 11, 0.1) 0px 1px 1px 0px inset,
    rgba(12, 12, 22, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#Projects {
  color: rgb(13, 13, 13);
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  margin-top: 5px;
  padding: 36px;

  
}
.project-qoute{
    font-size: 10px;
  padding: 1px;
}
.contact-container {
  font-family: Arial, sans-serif;
  margin-top: -80px;
  text-align: center;
  margin-bottom: 90px;
  margin-left: 20px;
  justify-items: start;
}

.contact-title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
  margin-left: 15px;
  
}

.contact-description {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 20px;
  margin-left: 55px;
}
.con-info{
  font-size:15px;
  margin-left: 25px;
}
.contact-form {
  display: flex;
  gap: 15px;
  margin-left: 70px;
  max-width: 300px;

}

.form-input,
.form-textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 10px;
  width:240px ;
  height: 10px;
  
}

.form-textarea {
  resize: none;
  height: 120px;
}

.form-button {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  border: none;
  width: 240px;
  height:auto;
  border-radius: 8px;
  cursor: pointer;
}
.social-link2 {
  padding: 15px;
  display: flex;
  gap: 15px;
  margin-left: 65px;
}

footer .copyright {
  margin-top: 20px;
  font-size: 10px;
  display: block;
  margin-left:-1100px;
}
footer {
  display: block;
  text-align: center;
  width: 1490px;
  color: rgb(40, 41, 42);
  padding-top: 19px;
}
html,body{
  overflow-x: hidden;
}
}
